{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<h2>Messages:</h2>
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<h1>Update your profile</h1>

<p>Public ID: <samp>{{ t_id }}</samp></p>
<p>Private ID: <samp>{{ t_priv }}</samp></p>
<p>Last updated: <samp>{{ last_update }}</samp></p>

<hr>

<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    
    <p>
        <label for="{{ form.team_name.id }}">{{ form.team_name.label }}</label>
        <br>
        {{ form.team_name(disabled=true) }}
        {% for error in form.team_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        <label for="{{ form.email.id }}">{{ form.email.label }}</label>
        <br>
        {{ form.email() }}
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        <label for="{{ form.members.id }}">{{ form.members.label }}</label>
        (one per line)
        <br>
        {{ form.members() }}
        {% for error in form.members.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        <label for="{{ form.countries.id }}">{{ form.countries.label }}</label>
        (comma-separated <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3#Officially_assigned_code_elements">three-letter country codes</a>)
        <br>
        {{ form.countries() }}
        {% for error in form.countries.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    
    <p>
        <label for="{{ form.langs.id }}">{{ form.langs.label }}</label>
        (comma-separated)
        <br>
        {{ form.langs() }}
        {% for error in form.langs.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        <label for="{{ form.file.id }}">{{ form.file.label }}</label>
        <br>
        {{ form.file() }}
        {% for error in form.file.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {% if zip_hash %}
        <ul>
            <li>Currently saved: <samp>{{ zip_hash }}</samp></li>
        </ul>
        {% endif %}
    </p>

    <p>
        <label for="{{ form.comments.id }}">{{ form.comments.label }}</label>
        <br>
        {{ form.comments() }}
        {% for error in form.comments.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
</form>
{% endblock %}