{% extends "base.html" %}

{% block content %}
<h1>Submit a solution ZIP file</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.private_id.label }}<br>
        {{ form.private_id() }}
        {% for error in form.private_id.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.file.label }}<br>
        {{ form.file() }}
        {% for error in form.file.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}